doctype html
html
    head
        meta(http-equiv="Content-type" content="text/html; charset=utf-8")
        title Игра "Жизнь"
        link(href="css/style.css" type="text/css" rel="stylesheet")
        link(href="css/menu.css" type="text/css" rel="stylesheet")
        link(href="css/app.css" type="text/css" rel="stylesheet")
        script(src="js/script.js" type="text/javascript")
    body(onload="life(1);")
        div.page-wrapper
            div.menu
                div.settingsLife X:
                    input(id="setWidth" value="")
                div.settingsLife Y:
                    input(id="setHeight" value="")
                div.settingsLife Задержка, мс
                    input(id="setDelay" value="")
                input(type="button" value="Начать" onClick="if(!active) setStart(1);")
                input(type="button" value="Пауза" onClick="setPause();")
                input(type="button" value="Очистить" onClick="setClear();")
                div.clearfix
            div(id="app")